{% extends 'layout.html' %} {% block body %}
<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, nisi
  veniam? Praesentium laudantium at labore facere sunt rem a voluptates odio
  quaerat aspernatur deserunt illum consequatur nisi, voluptatem veritatis
  aperiam atque iste ullam! Quasi explicabo omnis tempore consequatur facere
  velit odio asperiores, illo ut obcaecati voluptate delectus nulla iusto, odit
  nihil consequuntur! Sed dolores, ducimus illo natus at quidem placeat vitae
  distinctio laudantium nobis neque blanditiis! Enim voluptatum temporibus hic
  blanditiis, tempore cum. Doloremque, facilis?
</p>

{% endblock %}
